@model eticaretgiyim.Models.Urunler

@{
    ViewData["Title"] = "Detay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Detay</h1>

<div>
    <h4>Urunler</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrunAd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrunAd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aciklama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fiyat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fiyat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StokAdet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StokAdet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kategoriler)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kategoriler.Aciklama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Renk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Renk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Beden)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Beden)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GorselUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GorselUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aktif)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aktif)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UrunID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
